/idea
/1.7.10 AdvancedVanilla2.iml
/Logo.png
/1.7.10 AdvancedVanilla2.ipr
/forge-1.7.10-10.13.4.1448-1.7.10-changelog.txt
/AdvancedVanilla.png
/.gradle
/README.txt
/classes
/build
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/CREDITS-fml.txt
/MinecraftForge-License.txt
/1.7.10 AdvancedVanilla2.iws
# Created by .ignore support plugin (hsz.mobi)
/run
